<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="ChessCommandTraceSource"
        switchName="chessCommandSwitch"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="textListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="chessCommandTraceSource.txt"
            traceOutputOptions="ProcessId, DateTime" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="chessCommandSwitch" value="Off"/>
    </switches>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
</configuration>